@tailwind base;
@tailwind components;
@tailwind utilities;


:root { 
  --Gray-300: hsl(0, 1%, 58%); 
  --Gray-600: hsl(0, 5%, 51%); 
  --Gray-700: hsl(0, 2%, 37%); 
  
  --Primary-300: hsl(240, 100%, 66%); 
  --Primary-600: rgba(0, 0, 196, 0.763); 
 } 
 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
  .footer{
  display: flex;
  flex-direction: column;
}
}
